.e8_127 {
  overflow: hidden;
}
.e8_127 {
  background-color: rgba(255, 255, 255, 1);
  width: 611px;
  height: 795px;
  position: absolute;
}
.e8_137 {
  color: rgba(0, 0, 0, 1);
  width: 259px;
  height: 59px;
  position: absolute;
  left: 28px;
  top: 131px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: px;
}
.e8_151 {
  color: rgba(0, 0, 0, 1);
  width: 277px;
  height: 59px;
  position: absolute;
  left: 28px;
  top: 175px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: px;
}
.e8_138 {
  transform: rotate(-0.000005008956538086317deg);
  width: 541px;
  height: 0px;
  position: absolute;
  left: 28px;
  top: 741px;
}
.e8_138 {
  border: 1px solid rgba(0, 0, 0, 1);
}
.e8_139 {
  color: rgba(0, 0, 0, 1);
  width: 297px;
  height: 17px;
  position: absolute;
  left: 28px;
  top: 746px;
  font-family: Montserrat;
  text-align: left;
  font-size: 4.5px;
  letter-spacing: 0;
  line-height: px;
}
.e8_149 {
  color: rgba(0, 0, 0, 1);
  width: 159px;
  height: 44px;
  position: absolute;
  left: 28px;
  top: 76px;
  font-family: Montserrat;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e8_150 {
  color: rgba(0, 0, 0, 1);
  width: 97px;
  height: 21px;
  position: absolute;
  left: 28px;
  top: 111px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
}
.e8_152 {
  color: rgba(0, 0, 0, 1);
  width: 97px;
  height: 21px;
  position: absolute;
  left: 28px;
  top: 222px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
}
.e9_167 {
  color: rgba(0, 0, 0, 1);
  width: 97px;
  height: 21px;
  position: absolute;
  left: 313px;
  top: 266px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
}
.e9_171 {
  color: rgba(0, 0, 0, 1);
  width: 97px;
  height: 21px;
  position: absolute;
  left: 313px;
  top: 404px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
}
.e9_178 {
  color: rgba(0, 0, 0, 1);
  width: 97px;
  height: 21px;
  position: absolute;
  left: 313px;
  top: 572px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
}
.e8_159 {
  color: rgba(0, 0, 0, 1);
  width: 97px;
  height: 21px;
  position: absolute;
  left: 28px;
  top: 583px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
}
.e8_153 {
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: 27px;
  position: absolute;
  left: 28px;
  top: 243px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: px;
}
.e8_160 {
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: 27px;
  position: absolute;
  left: 28px;
  top: 605px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: px;
}
.e8_161 {
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: 27px;
  position: absolute;
  left: 28px;
  top: 692px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: px;
}
.e8_164 {
  color: rgba(0, 0, 0, 1);
  width: 274px;
  height: 27px;
  position: absolute;
  left: 313px;
  top: 119px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: px;
}
.e9_165 {
  color: rgba(0, 0, 0, 1);
  width: 274px;
  height: 27px;
  position: absolute;
  left: 313px;
  top: 165px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: px;
}
.e9_166 {
  color: rgba(0, 0, 0, 1);
  width: 274px;
  height: 27px;
  position: absolute;
  left: 313px;
  top: 213px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: px;
}
.e9_168 {
  color: rgba(0, 0, 0, 1);
  width: 274px;
  height: 27px;
  position: absolute;
  left: 313px;
  top: 287px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: px;
}
.e9_169 {
  color: rgba(0, 0, 0, 1);
  width: 274px;
  height: 27px;
  position: absolute;
  left: 313px;
  top: 334px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: px;
}
.e9_170 {
  color: rgba(0, 0, 0, 1);
  width: 274px;
  height: 27px;
  position: absolute;
  left: 313px;
  top: 367px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: px;
}
.e9_174 {
  color: rgba(0, 0, 0, 1);
  width: 274px;
  height: 27px;
  position: absolute;
  left: 313px;
  top: 423px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: px;
}
.e9_175 {
  color: rgba(0, 0, 0, 1);
  width: 274px;
  height: 27px;
  position: absolute;
  left: 313px;
  top: 470px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: px;
}
.e9_176 {
  color: rgba(0, 0, 0, 1);
  width: 274px;
  height: 27px;
  position: absolute;
  left: 313px;
  top: 492px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: px;
}
.e9_177 {
  color: rgba(0, 0, 0, 1);
  width: 274px;
  height: 27px;
  position: absolute;
  left: 313px;
  top: 517px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: px;
}
.e9_179 {
  color: rgba(0, 0, 0, 1);
  width: 274px;
  height: 72px;
  position: absolute;
  left: 313px;
  top: 589px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: px;
}
.e8_162 {
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: 37px;
  position: absolute;
  left: 28px;
  top: 642px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: px;
}
.e8_154 {
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: 27px;
  position: absolute;
  left: 28px;
  top: 276px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: px;
}
.e8_155 {
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: 41px;
  position: absolute;
  left: 28px;
  top: 313px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: px;
}
.e8_156 {
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: 49px;
  position: absolute;
  left: 28px;
  top: 361px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: px;
}
.e8_157 {
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: 49px;
  position: absolute;
  left: 28px;
  top: 423px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: px;
}
.e8_158 {
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: 94px;
  position: absolute;
  left: 28px;
  top: 474px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: px;
}
.e8_163 {
  color: rgba(0, 0, 0, 1);
  width: 116px;
  height: 41px;
  position: absolute;
  left: 499px;
  top: 43px;
  font-family: Nokora;
  text-align: left;
  font-size: 26px;
  letter-spacing: 10;
  line-height: px;
}
.e9_185 {
  box-shadow: 0px 4px 4px
    rgba(70.33751651644707, 53.925429582595825, 53.925429582595825, 0.25);
  background-color: rgba(
    48.62000226974487,
    150.5723923444748,
    224.40001398324966,
    1
  );
  width: 94px;
  height: 27px;
  position: absolute;
  left: 382px;
  top: 701px;
}
.e9_185 {
  border: 1px solid
    rgba(160.65001398324966, 159.31126981973648, 159.31126981973648, 1);
}
.e9_186 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(
    48.62000226974487,
    150.5723923444748,
    224.40001398324966,
    1
  );
  width: 51px;
  height: 27px;
  position: absolute;
  left: 499px;
  top: 701px;
}
.e9_186 {
  border: 1px solid
    rgba(212.71250993013382, 210.9399050474167, 210.9399050474167, 1);
}
.e9_183 {
  color: rgba(0, 0, 0, 1);
  width: 96px;
  height: 21px;
  position: absolute;
  left: 387px;
  top: 707px;
  font-family: Montserrat;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: px;
}
.e9_184 {
  color: rgba(0, 0, 0, 1);
  width: 44px;
  height: 21px;
  position: absolute;
  left: 504px;
  top: 707px;
  font-family: Montserrat;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: px;
}
