body {
  background-color: black;
}
.main {
  background-color: rgba(255, 255, 255, 1);
  width: 611px;
  height: 795px;
  position: absolute;
}

a {
  position: absolute;
  color: white;
  width: 95px;
  height: 10%;
  left: 45%;
  text-decoration: none;
}
a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #4b77d4;
  display: block;
  margin: auto;
  transition: 0.3s;
}

a:hover::after {
  width: 100%;
}
.e8_137 {
  color: rgba(0, 0, 0, 1);
  width: 259px;
  height: 59px;
  position: absolute;
  left: 28px;
  top: 131px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: 12px;
  font-weight: 400;
}
.e8_151 {
  color: rgba(0, 0, 0, 1);
  width: 277px;
  height: 59px;
  position: absolute;
  left: 28px;
  top: 175px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: 12px;
  font-weight: 400;
}
.e8_138 {
  transform: rotate(-0.000005008956538086317deg);
  width: 541px;
  height: 0px;
  position: absolute;
  left: 28px;
  top: 741px;
}
.e8_138 {
  border: 1px solid rgba(0, 0, 0, 1);
}
.e8_139 {
  color: rgba(0, 0, 0, 1);
  width: 330px;
  height: 17px;
  position: absolute;
  left: 28px;
  top: 746px;
  font-family: Montserrat;
  text-align: left;
  font-size: 5px;
  letter-spacing: 0px;
  line-height: 8px;
  font-weight: 600;
}
.terms {
  color: rgba(0, 0, 0, 1);
  width: 159px;
  height: 44px;
  position: absolute;
  left: 28px;
  top: 76px;
  font-family: Montserrat;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 400;
}
.eligibility {
  color: rgba(0, 0, 0, 1);
  width: 97px;
  height: 21px;
  position: absolute;
  left: 28px;
  top: 111px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  font-weight: 700;
}
.prize {
  color: rgba(0, 0, 0, 1);
  width: 97px;
  height: 21px;
  position: absolute;
  left: 28px;
  top: 222px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  font-weight: 700;
}
.agreements {
  color: rgba(0, 0, 0, 1);
  width: 97px;
  height: 21px;
  position: absolute;
  left: 313px;
  top: 266px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  font-weight: 700;
}
.e9_171 {
  color: rgba(0, 0, 0, 1);
  width: 97px;
  height: 21px;
  position: absolute;
  left: 313px;
  top: 404px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  line-height: 12px;
  font-weight: 400;
}
.bolded {
  font-weight: 700;
}
.qualification {
  color: rgba(0, 0, 0, 1);
  width: 97px;
  height: 21px;
  position: absolute;
  left: 313px;
  top: 560px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  font-weight: 700;
}
.travel {
  color: rgba(0, 0, 0, 1);
  width: 97px;
  height: 21px;
  position: absolute;
  left: 28px;
  top: 583px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  font-weight: 700;
}
.e8_153 {
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: 27px;
  position: absolute;
  left: 28px;
  top: 243px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: 12px;
  font-weight: 400;
}
.e8_160 {
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: 27px;
  position: absolute;
  left: 28px;
  top: 605px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: 12px;
  font-weight: 400;
}
.e8_161 {
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: 27px;
  position: absolute;
  left: 28px;
  top: 692px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: 12px;
  font-weight: 400;
}
.e8_164 {
  color: rgba(0, 0, 0, 1);
  width: 274px;
  height: 27px;
  position: absolute;
  left: 313px;
  top: 119px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: 12px;
  font-weight: 400;
}
.e9_165 {
  color: rgba(0, 0, 0, 1);
  width: 274px;
  height: 27px;
  position: absolute;
  left: 313px;
  top: 165px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: 12px;
  font-weight: 400;
}
.e9_166 {
  color: rgba(0, 0, 0, 1);
  width: 274px;
  height: 27px;
  position: absolute;
  left: 313px;
  top: 213px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: 12px;
  font-weight: 400;
}
.e9_168 {
  color: rgba(0, 0, 0, 1);
  width: 274px;
  height: 27px;
  position: absolute;
  left: 313px;
  top: 287px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: 12px;
  font-weight: 400;
}
.e9_169 {
  color: rgba(0, 0, 0, 1);
  width: 274px;
  height: 27px;
  position: absolute;
  left: 313px;
  top: 334px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: 12px;
  font-weight: 400;
}
.e9_170 {
  color: rgba(0, 0, 0, 1);
  width: 274px;
  height: 27px;
  position: absolute;
  left: 313px;
  top: 367px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: 12px;
  font-weight: 400;
}
.e9_174 {
  color: rgba(0, 0, 0, 1);
  width: 274px;
  height: 27px;
  position: absolute;
  left: 313px;
  top: 423px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: 12px;
  font-weight: 400;
}
.e9_175 {
  color: rgba(0, 0, 0, 1);
  width: 274px;
  height: 27px;
  position: absolute;
  left: 313px;
  top: 470px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: 12px;
  font-weight: 400;
}
.e9_176 {
  color: rgba(0, 0, 0, 1);
  width: 274px;
  height: 27px;
  position: absolute;
  left: 313px;
  top: 492px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: 12px;
  font-weight: 400;
}
.e9_177 {
  color: rgba(0, 0, 0, 1);
  width: 274px;
  height: 27px;
  position: absolute;
  left: 313px;
  top: 517px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: 12px;
  font-weight: 400;
}
.legacy {
  color: rgba(0, 0, 0, 1);
  width: 274px;
  height: 72px;
  position: absolute;
  left: 313px;
  top: 575px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: 12px;
  font-weight: 400;
}
.e8_162 {
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: 37px;
  position: absolute;
  left: 28px;
  top: 642px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: 12px;
  font-weight: 400;
}
.e8_154 {
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: 27px;
  position: absolute;
  left: 28px;
  top: 276px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: 12px;
  font-weight: 400;
}
.e8_155 {
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: 41px;
  position: absolute;
  left: 28px;
  top: 313px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: 12px;
  font-weight: 400;
}
.e8_156 {
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: 49px;
  position: absolute;
  left: 28px;
  top: 361px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: 12px;
  font-weight: 400;
}
.e8_157 {
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: 49px;
  position: absolute;
  left: 28px;
  top: 423px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: 12px;
  font-weight: 400;
}
.e8_158 {
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: 94px;
  position: absolute;
  left: 28px;
  top: 474px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: 12px;
  font-weight: 400;
}
.e8_163 {
  color: rgba(0, 0, 0, 1);
  width: 116px;
  height: 41px;
  position: absolute;
  left: 499px;
  top: 43px;
  font-family: Nokora;
  text-align: left;
  font-size: 26px;
  letter-spacing: 3px;
  line-height: px;
}

.download {
  color: rgba(0, 0, 0, 1);
  width: 96px;
  height: 21px;
  position: absolute;
  left: 387px;
  top: 707px;
  font-family: Montserrat;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: px;
}

#download {
  color: rgba(0, 0, 0, 1);
  width: 83px;
  height: 21px;
  position: absolute;
  left: 387px;
  top: 707px;
  font-family: Montserrat;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: px;
}

#download::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #4b77d4;
  display: block;
  margin: auto;
  transition: 0.3s;
}

#download:hover::after {
  width: 100%;
}
#print {
  color: rgba(0, 0, 0, 1);
  width: 55px;
  height: 25px;
  position: absolute;
  left: 504px;
  top: 707px;
  font-family: Montserrat;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: px;
}

button {
  color: rgba(0, 0, 0, 1);
  width: 44px;
  height: 21px;
  position: absolute;
  left: 504px;
  top: 707px;
  font-family: Montserrat;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: px;
}
