body {
  background-color: black;
}
.main {
  background-color: rgb(255, 255, 255);
  width: 597px;
  height: 790px;
  position: absolute;
}
.hero {
  background-color: rgba(
    22.932286262512207,
    123.63779604434967,
    196.5624949336052,
    1
  );
  width: 215px;
  height: 746px;
  position: absolute;
  left: 21px;
  top: 20px;
  display: flex;
}
.header {
  color: rgba(255, 255, 255, 1);
  width: 163px;
  height: 29px;
  position: absolute;
  left: 42px;
  top: 41px;
  font-family: Nokora;
  text-align: left;
  font-size: 26px;
  letter-spacing: 3px;
}
#hero2 {
  color: rgba(255, 255, 255, 1);
  width: 170px;
  height: 91px;
  position: absolute;
  left: 42px;
  top: 85px;
  font-family: Montserrat;
  text-align: left;
  font-size: 22px;
  letter-spacing: 0;
  font-weight: 300;
}

a {
  position: absolute;
  color: white;
  width: 70px;
  height: 10%;
  left: 40%;
  text-decoration: none;
}
a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #4b77d4;
  display: block;
  margin: auto;
  transition: 0.3s;
}

a:hover::after {
  width: 100%;
}
.e1_7 {
  color: rgba(255, 255, 255, 1);
  width: 164px;
  height: 18px;
  position: absolute;
  left: 42px;
  top: 296px;
  font-family: Montserrat;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.date {
  color: rgba(255, 255, 255, 1);
  width: 150px;
  height: 39px;
  position: absolute;
  left: 42px;
  top: 314px;
  font-family: Montserrat;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 200;
}
.terms {
  color: rgba(255, 255, 255, 1);
  width: 163px;
  height: 39px;
  position: absolute;
  left: 42px;
  top: 368px;
  font-family: Montserrat;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0;
  font-weight: 500;
}
.p1 {
  color: rgba(255, 255, 255, 1);
  width: 160px;
  height: 282px;
  position: absolute;
  left: 42px;
  top: 378px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9.5px;
  letter-spacing: 0;
  font-weight: 200;
  line-height: 13px;
}

.ep1 {
  color: rgba(255, 255, 255, 1);
  width: 160px;
  height: 282px;
  position: absolute;
  left: 42px;
  top: 504px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9.5px;
  letter-spacing: 0;
  font-weight: 200;
  line-height: 13px;
}
.e1_43 {
  color: rgba(255, 255, 255, 1);
  width: 185px;
  height: 17px;
  position: absolute;
  left: 51px;
  top: 731px;
  font-family: Montserrat;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.image {
  width: 339px;
  height: 228px;
  position: absolute;
  left: 236px;
  top: 20px;
  background-image: url(image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.p2 {
  color: rgba(0, 0, 0, 1);
  width: 317px;
  height: 92px;
  position: absolute;
  left: 259px;
  top: 260px;
  font-family: Montserrat;
  text-align: left;
  font-size: 10.5px;
  letter-spacing: 0;
  line-height: px;
}
.BoldedLoremIpsum {
  color: rgba(0, 0, 0, 1);
  width: 307px;
  height: 40px;
  position: absolute;
  left: 259px;
  top: 370px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  font-weight: 700;
}
.e3_5 {
  color: rgba(0, 0, 0, 1);
  width: 313px;
  height: 80px;
  position: absolute;
  left: 259px;
  top: 394px;
  font-family: Montserrat;
  text-align: left;
  font-size: 8.5px;
  letter-spacing: 0;
  line-height: px;
}
.square1 {
  background-color: rgba(
    217.0000022649765,
    217.0000022649765,
    217.0000022649765,
    1
  );
  width: 64px;
  height: 64px;
  position: absolute;
  left: 259px;
  top: 470px;
}
.square2 {
  background-color: rgba(
    217.0000022649765,
    217.0000022649765,
    217.0000022649765,
    1
  );
  width: 64px;
  height: 64px;
  position: absolute;
  left: 456px;
  top: 470px;
}
.square3 {
  background-color: rgba(
    217.0000022649765,
    217.0000022649765,
    217.0000022649765,
    1
  );
  width: 64px;
  height: 64px;
  position: absolute;
  left: 358px;
  top: 470px;
}
.e3_9 {
  color: rgba(0, 0, 0, 1);
  width: 62px;
  height: 26px;
  position: absolute;
  left: 259px;
  top: 551px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: undefined;
  font-weight: 700;
}
.e3_10 {
  color: rgba(0, 0, 0, 1);
  width: 62px;
  height: 26px;
  position: absolute;
  left: 456px;
  top: 551px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 5;
  font-weight: 700;
}
.e3_11 {
  color: rgba(0, 0, 0, 1);
  width: 62px;
  height: 26px;
  position: absolute;
  left: 358px;
  top: 551px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 5;
  font-weight: 700;
}
.e3_14 {
  transform: rotate(-0.000005008956538086317deg);
  width: 313px;
  height: 0px;
  position: absolute;
  left: 259px;
  top: 631px;
}

.e3_30 {
  transform: rotate(-0.000005008956538086317deg);
  width: 313px;
  height: 0px;
  position: absolute;
  left: 259px;
  top: 729px;
}

.e3_15 {
  transform: rotate(-0.000005008956538086317deg);
  width: 313px;
  height: 0px;
  position: absolute;
  left: 259px;
  top: 666px;
}

.e3_16 {
  color: rgba(0, 0, 0, 1);
  width: 43px;
  height: 23px;
  position: absolute;
  left: 259px;
  top: 638px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 5;
}
.e3_17 {
  color: rgba(0, 0, 0, 1);
  width: 43px;
  height: 23px;
  position: absolute;
  left: 259px;
  top: 673px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 5;
}
.e3_18 {
  color: rgba(0, 0, 0, 1);
  width: 79px;
  height: 22px;
  position: absolute;
  left: 358px;
  top: 639px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: undefined;
}
.e3_24 {
  color: rgba(0, 0, 0, 1);
  width: 70px;
  height: 23px;
  position: absolute;
  left: 358px;
  top: 673px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: undefined;
}
.item1 {
  color: rgba(0, 0, 0, 1);
  width: 99px;
  height: 19px;
  position: absolute;
  left: 259px;
  top: 568px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
}
.item2 {
  color: rgba(0, 0, 0, 1);
  width: 99px;
  height: 19px;
  position: absolute;
  left: 456px;
  top: 567px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
}
.item3 {
  color: rgba(0, 0, 0, 1);
  width: 99px;
  height: 19px;
  position: absolute;
  left: 358px;
  top: 568px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
}
#tm {
  color: rgba(255, 255, 255, 1);
  width: 185px;
  height: 15px;
  /* position: absolute; */
  left: 51px;
  top: 600px;
  font-family: Montserrat;
  /* text-align: left; */
  font-size: 6px;
}
.e3_25 {
  color: rgba(0, 0, 0, 1);
  width: 82px;
  height: 20px;
  position: absolute;
  left: 456px;
  top: 639px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
}
.e3_26 {
  color: rgba(0, 0, 0, 1);
  width: 82px;
  height: 20px;
  position: absolute;
  left: 457px;
  top: 673px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
}
.e3_27 {
  color: rgba(0, 0, 0, 1);
  width: 64px;
  height: 15px;
  position: absolute;
  left: 259px;
  top: 606px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  font-weight: 700;
}
.e3_28 {
  color: rgba(0, 0, 0, 1);
  width: 64px;
  height: 15px;
  position: absolute;
  left: 456px;
  top: 606px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  font-weight: 700;
}
.e3_29 {
  color: rgba(0, 0, 0, 1);
  width: 64px;
  height: 15px;
  position: absolute;
  left: 358px;
  top: 606px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  font-weight: 700;
}
.footer {
  color: rgba(0, 0, 0, 1);
  width: 317px;
  height: 17px;
  position: absolute;
  left: 259px;
  top: 736px;
  font-family: Montserrat;
  text-align: left;
  font-size: 4.75px;
  letter-spacing: 0;
  line-height: 5px;
  font-weight: 500;
}

#line1 {
  transform: rotate(8.045726593026463e-22deg);
  width: 295px;
  height: 0px;
  position: absolute;
  left: 259px;
  top: 630px;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
}

#line2 {
  transform: rotate(8.045726593026463e-22deg);
  width: 295px;
  height: 0px;
  position: absolute;
  left: 259px;
  top: 660px;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
}
.line {
  transform: rotate(8.045726593026463e-22deg);
  width: 295px;
  height: 0px;
  position: absolute;
  left: 259px;
  top: 730px;
}
.line {
  border: 0.5px solid rgba(0, 0, 0, 0.5);
}
