.e5_34 {
  overflow: hidden;
}
.e5_34 {
  background-color: rgba(255, 255, 255, 1);
  width: 595px;
  height: 795px;
  position: absolute;
}
.e5_35 {
  background-color: rgba(
    22.932286262512207,
    123.63779604434967,
    196.5624949336052,
    1
  );
  width: 215px;
  height: 758px;
  position: absolute;
  left: 21px;
  top: 20px;
}
.e5_36 {
  color: rgba(255, 255, 255, 1);
  width: 163px;
  height: 29px;
  position: absolute;
  left: 42px;
  top: 41px;
  font-family: Nokora;
  text-align: left;
  font-size: 26px;
  letter-spacing: 10;
}
.e5_37 {
  color: rgba(255, 255, 255, 1);
  width: 157px;
  height: 91px;
  position: absolute;
  left: 42px;
  top: 85px;
  font-family: Montserrat;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e5_38 {
  color: rgba(255, 255, 255, 1);
  width: 164px;
  height: 18px;
  position: absolute;
  left: 42px;
  top: 219px;
  font-family: Montserrat;
  text-align: left;
  font-size: 10px;
  letter-spacing: 0;
}
.e9_180 {
  color: rgba(255, 255, 255, 1);
  width: 164px;
  height: 18px;
  position: absolute;
  left: 42px;
  top: 358px;
  font-family: Montserrat;
  text-align: left;
  font-size: 10px;
  letter-spacing: 0;
}
.e5_45 {
  color: rgba(0, 0, 0, 1);
  width: 307px;
  height: 40px;
  position: absolute;
  left: 259px;
  top: 463px;
  font-family: Montserrat;
  text-align: left;
  font-size: 8px;
  letter-spacing: 0;
}
.e8_3 {
  color: rgba(0, 0, 0, 1);
  width: 307px;
  height: 40px;
  position: absolute;
  left: 259px;
  top: 276px;
  font-family: Montserrat;
  text-align: left;
  font-size: 8px;
  letter-spacing: 0;
}
.e8_4 {
  color: rgba(0, 0, 0, 1);
  width: 307px;
  height: 40px;
  position: absolute;
  left: 259px;
  top: 150px;
  font-family: Montserrat;
  text-align: left;
  font-size: 8px;
  letter-spacing: 0;
}
.e8_5 {
  color: rgba(0, 0, 0, 1);
  width: 307px;
  height: 40px;
  position: absolute;
  left: 259px;
  top: 70px;
  font-family: Montserrat;
  text-align: left;
  font-size: 8px;
  letter-spacing: 0;
}
.e5_46 {
  color: rgba(0, 0, 0, 1);
  width: 295px;
  height: 80px;
  position: absolute;
  left: 259px;
  top: 482px;
  font-family: Montserrat;
  text-align: left;
  font-size: 8px;
  letter-spacing: 0;
  line-height: px;
}
.e5_54 {
  transform: rotate(8.045726593026463e-22deg);
  width: 295px;
  height: 0px;
  position: absolute;
  left: 259px;
  top: 741px;
}
.e5_54 {
  border: 1px solid rgba(0, 0, 0, 1);
}
.e5_68 {
  color: rgba(0, 0, 0, 1);
  width: 300px;
  height: 17px;
  position: absolute;
  left: 259px;
  top: 753px;
  font-family: Montserrat;
  text-align: left;
  font-size: 4.5px;
  letter-spacing: 0;
  line-height: px;
}
.e8_7 {
  color: rgba(0, 0, 0, 1);
  width: 307px;
  height: 48px;
  position: absolute;
  left: 259px;
  top: 92px;
  text-align: left;
  font-size: 8px;
  letter-spacing: 0;
  line-height: px;
}
.e8_9 {
  color: rgba(0, 0, 0, 1);
  width: 294px;
  height: 46px;
  position: absolute;
  left: 259px;
  top: 220px;
  text-align: left;
  font-size: 8px;
  letter-spacing: 0;
  line-height: px;
}
.e8_10 {
  color: rgba(0, 0, 0, 1);
  width: 294px;
  height: 46px;
  position: absolute;
  left: 259px;
  top: 167px;
  font-family: Montserrat;
  text-align: left;
  font-size: 8px;
  letter-spacing: 0;
  line-height: px;
}
.e8_11 {
  color: rgba(0, 0, 0, 1);
  width: 294px;
  height: 46px;
  position: absolute;
  left: 259px;
  top: 405px;
  font-family: Montserrat;
  text-align: left;
  font-size: 8px;
  letter-spacing: 0;
  line-height: px;
}
.e8_12 {
  color: rgba(0, 0, 0, 1);
  width: 294px;
  height: 46px;
  position: absolute;
  left: 259px;
  top: 349px;
  text-align: left;
  font-size: 8px;
  letter-spacing: 0;
  line-height: px;
}
.e8_13 {
  color: rgba(0, 0, 0, 1);
  width: 294px;
  height: 46px;
  position: absolute;
  left: 259px;
  top: 293px;
  font-family: Montserrat;
  text-align: left;
  font-size: 8px;
  letter-spacing: 0;
  line-height: px;
}
.e8_118 {
  background-color: rgba(
    217.0000022649765,
    217.0000022649765,
    217.0000022649765,
    0
  );
  width: 244px;
  height: 70px;
  position: absolute;
  left: 259px;
  top: 659px;
}
.e8_118 {
  border: 1px solid rgba(0, 0, 0, 1);
}
.e8_117 {
  color: rgba(0, 0, 0, 1);
  width: 171px;
  height: 42px;
  position: absolute;
  left: 268px;
  top: 667px;
  font-family: Montserrat;
  text-align: left;
  font-size: 8px;
  letter-spacing: 0;
}
.e9_181 {
  color: rgba(255, 255, 255, 1);
  width: 157px;
  height: 96px;
  position: absolute;
  left: 42px;
  top: 237px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: px;
}
.e9_182 {
  color: rgba(255, 255, 255, 1);
  width: 155px;
  height: 96px;
  position: absolute;
  left: 42px;
  top: 376px;
  font-family: Montserrat;
  text-align: left;
  font-size: 9px;
  letter-spacing: 0;
  line-height: px;
}
